<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    {% if title %}
    <title>{{ title }} - Flasknet</title>
    {% else %}
    <title>Flasknet</title>
    {% endif %}
  </head>
  <body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% if not nonav %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href={{ url_for("index") }}>Flasknet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--<li class="nav-item">
              {% if current_user.is_anonymous %}
              <a class="nav-link active" aria-current="page" href={{ url_for("login") }}>Login</a>
              {% else %}
              <a class="nav-link active" aria-current="page" href={{ url_for("logout") }}>Logout</a>
              {% endif %}
            </li>-->

            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("login")}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("signup")}}">Sigup</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>
            {% endif %}
          </ul>
          <!--
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>-->
          {% if current_user.is_authenticated %}
          <div class="dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://api.dicebear.com/6.x/identicon/svg?seed={{ current_user.username }}&size=32">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href={{ url_for("user", username=current_user.username) }}>Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for("logout") }}">Logout</a></li>
              <li><a class="dropdown-item" href="{{ url_for("edit") }}">Edit Profile</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endif %}
    <!-- end navbar -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div style="padding-top: 10px">
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
