{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}</h1>
{% if form %}
<form action="" method="POST">
  {{ form.csrf_token }}
  <div class="row">
    <div class="form-group col-lg-2">
      {% if form.post.errors %}
      {{ form.post(size=20, class="form-control is-invalid",placeholder="Say Something!")}}
      {% for error in form.post.errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      {% else %}
      {{ form.post(size=20, class="form-control",placeholder="Say Something!")}}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-2">
      {{ form.submit(size=20, class="btn btn-primary", style="margin-top: 10px") }}
    </div>
  </div>
</form>
{% endif %}
{% for post in posts %}
{% include "_post.html" %}
{% endfor %}
<nav aria-label="Page navigation example" style="margin-top: 10px;">
  <ul class="pagination">
    {% if prev_url %}
    <li class="page-item"><a class="page-link" href={{ prev_url }}>&laquo; Previous Page</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href={{ prev_url }}>&laquo; Previous Page</a></li>
    {% endif %}
    {% if next_url %}
    <li class="page-item"><a class="page-link" href={{ next_url }}>Next Page &raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href={{ next_url }}>Next Page &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
