{% extends "base.html" %}

{% block content %}
<table>
  <tr valign="top">
      <td><img src={{ user.avatar() }} style="position: relative; top: 11px; align-self: start"></td>
      <td style="padding-left: 5px">
        <h1>User: {{ user.username }}</h1>
        {% if user.about %}<p style="margin-bottom: 0px">About Me: {{ user.about }}</p>{% endif %}
        {% if user.last_seen %}<p style="margin-bottom: 0px">Last seen: {{ user.last_seen }}</p>{% endif %}
        {% if user == current_user %}
        <p><a href="{{ url_for("edit") }}" class="btn btn-outline-primary">Edit</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
          <form action={{ url_for("follow", username=user.username) }} method="post">
            {{ form.csrf_token }}
            {{ form.submit(value="Follow", class="btn btn-outline-primary") }}
          </form>
        </p>
        {% else %}
        <p>
          <form action={{ url_for("unfollow", username=user.username) }} method="post">
            {{ form.csrf_token }}
            {{ form.submit(value="Unollow", class="btn btn-outline-primary") }}
          </form>
        </p>
        {% endif %}
      </td>
    </tr>
</table>
<hr style="margin-bottom: 0px">
{% for post in posts %}
    {% include "_post.html" %}
{% endfor %}
<nav aria-label="Page navigation example" style="margin-top: 10px;">
  <ul class="pagination">
    {% if prev_url %}
    <li class="page-item"><a class="page-link" href={{ prev_url }}>&laquo; Previous Page</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href={{ prev_url }}>&laquo; Previous Page</a></li>
    {% endif %}
    {% if next_url %}
    <li class="page-item"><a class="page-link" href={{ next_url }}>Next Page &raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href={{ next_url }}>Next Page &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
